version: '3.9'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile 
    command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:9167"
    volumes:
      - .:/app
    ports:
      - "9167:9167"
    env_file: 
      - env/.env.stage
  #   depends_on:
  #     - redis

  # redis:
  #   image: redis:alpine
  #   container_name: redis
  #   # ports:
  #   #   - "6380:6379"

  # celery:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   command: celery -A HSM_AI worker --loglevel=info
  #   volumes:
  #     - .:/app
  #   env_file:
  #     - env/.env.prod
  #   depends_on:
  #     - redis
  #     - web

  # celery-beat:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   command: celery -A HSM_AI beat --loglevel=info
  #   volumes:
  #     - .:/app
  #   env_file:
  #     - env/.env.prod
  #   depends_on:
  #     - redis
  #     - web


# services:
#   web:
#     build:
#       context: .
#       dockerfile: Dockerfile 
#     command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:9076"
#     volumes:
#       - .:/app
#     ports:
#       - "9076:9076"

#     env_file: 
#       - env/.env.prod
