version: '3.9'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8081"
    volumes:
      - .:/app
    ports:
      - "8081:8081"
    env_file:
      - env/.env.local
    # depends_on:
    #   - redis

  # redis:
  #   image: redis:alpine
  #   container_name: redis
  #   ports:
  #     - "6380:6379"

  # celery:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   command: celery -A HSM_AI worker --loglevel=info
  #   volumes:
  #     - .:/app
  #   env_file:
  #     - env/.env.local
  #   depends_on:
  #     - redis
  #     - web

  # celery-beat:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   command: celery -A HSM_AI beat --loglevel=info
  #   volumes:
  #     - .:/app
  #   env_file:
  #     - env/.env.local
  #   depends_on:
  #     - redis
  #     - web


# services:
#   web:
#     build:
#       context: .  
#       dockerfile: Dockerfile  
#     command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8003"
#     volumes:
#       - .:/app
#     ports:
#       - "8003:8003"
    
#     env_file: 
#       - env/.env.local
